*.o
*.lo
*.la
*~

.deps
.libs
m4/

stamp-h?
config.h
config.h.in

aclocal.m4
compile
config.guess
config.sub
config.log
config.status
configure
depcomp
install-sh
missing
mkinstalldirs
autom4te.cache

Makefile
Makefile.in

pxtools.spec

src/pxcsvdump
src/pxinfo
src/pxsqldump
src/pxxmldump
